body{
    display: flex;
    flex-direction: column;
}
header{
	width:100%;
	height:50px;
	background-color: rgb(203, 202, 203);
}
id{
	left: 100px;
	height: 60px;
}
#humberger {
  position: relative;
  height: 46px;
  width: 46px;
  display: inline-block;
  box-sizing: border-box;
  background-color: #fff;
  border: 2px solid #444;
  border-radius: 4px;
}
#humberger div {
  position: absolute;
  left: 7px;
  height: 2px;
  width: 28px;
  background-color: #444;
  border-radius: 2px;
  display: inline-block;
  box-sizing: border-box;
}
#humberger div:nth-of-type(1) {
  bottom: 30px;
}
#humberger div:nth-of-type(2) {
  bottom: 20px;
}
#humberger div:nth-of-type(3) {
  bottom: 10px;
}



/*ハンバーガーメニュー*/
#humMenu {
  padding: 12px;
  background: white;
}
 
#humCheck, #humClose { display:none; }
#humOpen {
  display: block;
  width: 58px;
  cursor: pointer;
}
#humOpen:hover {
  opacity: 0.5;
}
#humOpen img { display: block; }
#humClose, nav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
}
#humClose {
  z-index: 2;
  width: 100%;
  background: gray;
  opacity: 0.8;
  transition: 0.5s;
}
nav {
  z-index: 3;
  width: 330px;
  background: white;
  transition: 0.5s;
  transform: translateX(-100%);
}
#humCheck:checked ~ #humClose { display: block; }
#humCheck:checked ~ nav {
  transform: translateX(0);
}
nav ul{
overflow: hidden;
list-style: none;
}
nav li{
  padding: 15px 0;
  margin: 10px 0;
}
nav li:hover{
  opacity: 0.5;
}
nav li a{
  font-size: 20px;
  text-decoration: none;
  font-size: 20px;
  color: black;
}
/*ハンバーガーメニュー*/
.loge{
	position: absolute;
	top: 0px;
	left: 80px;
	
}
.loge h1{
	font-weight: bold;
	color:  #DC143C;
}
.homeSearch{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	position:relative;
	bottom:60px;
	pointer-events:none;
}



.hidden_box {
    float: right;
    margin: 2em 0;
    padding: 0;
    position:relative;
    bottom:100px;
}


.btn_profile label{
    padding: 15px;
    font-weight: bold;
    cursor :pointer;
}


.hidden_box label:hover {
    background: #efefef;
}

.hidden_box input {
    display: none;
}

.hidden_box .dropdown-menu {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

.hidden_box input:checked ~ .dropdown-menu{
    padding: 10px 0;
    height: auto;
    opacity: 20;
}

bi bi-emoji-laughing{
    font-size:50;
}


main{
    display: flex;
    min-height:60vh;
    margin: 15px 0 30px 0;
}
.LeftContent{
    flex: 1;
    background-color: #90ee90;
    text-align: center;
    margin-right: 15px;
}
.RightContent{
    flex: 1;
    background-color: #90ee90;
    text-align: center;
    margin-right: 15px;
}