<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>ゆえったー</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/css/home/home.css}">
</head>

<body>
<header id="header">
    <label id="humOpen">
        <div id="humberger">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </label>
    <label id="humClose"></label>
    <nav>
        <ul class="inner">
            <li><a href="#">掲示板一覧</a></li>
            <li><a href="#">なんか</a></li>
            <li><a href="#">なんか</a></li>
            <li><a href="#">なんか</a></li>
            <li><a href="#">なんか</a></li>
        </ul>
    </nav>
    <div class="loge">
        <h1>ゆえったー</h1>
    </div>
    <div class="homeSearch">
        <input type="text" name="example1">
        <input type="submit" value="検索する">
    </div>
    <div class="hidden_box">
        <a class="btn_profile" href="#"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <label  class="h-100 bi bi-emoji-laughing" for="label1"></label></a>
        <input type="checkbox" id="label1"/>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <p class="dropdown-item" href="#">プロフィール編集</p>

        </div>
    </div>
</header>
<main>
    <div class="RightContent">
        <p>(仮)　右側　コンテンツ</p>
    </div>
</main>
</body>

</html>